<div class="container">

  <div class="row">
    <div class="col-12">
      <form [formGroup]="formGroup" (submit)="submit()">

        <div class="card">
          <div class="card-header">Create Groupmember</div>
          <div class="card-body">
            <div class="row">
              <div class="form-group col-6">
                <label>Name</label>
                <input class="form-control" formControlName="groupname" type="text">
                <span class="text-danger"
                  *ngIf="formGroup.controls['groupname'].touched && formGroup.controls['groupname'].hasError('required')">
                  groupname is required! </span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-header">Contact Information</div>
        <div class="card-body" formArrayName="member">
          <div class="row">
            <div class="col-6" *ngFor="let member of memberFormGroup.controls; let i = index;">
              <div [formGroupName]="i" class="row">
                <div class="form-group col-6">
                  <label>Type of Contact</label>
                  <input class="form-control" formControlName="type" type="text">

                </div>
                <div class="form-group col-6">
                  <label>Contact Label</label>
                  <input class="form-control" formControlName="name" type="text">
                  <span class="text-danger"
                    *ngIf="getmemberFormGroup(i).controls['name'].touched && getmemberFormGroup(i).controls['name'].hasError('required')">
                    Label is required! </span>
                </div>

                <div class="form-group col-12">
                  <label>Email/Phone No.</label>
                  <input class="form-control" formControlName="value" type="text">
                  <span class="text-danger"
                    *ngIf="getmemberFormGroup(i).controls['value'].touched && getmemberFormGroup(i).controls['value'].hasError('required')">
                    Email/Phone no is required! </span>
                  <span class="text-danger"
                    *ngIf="getmemberFormGroup(i).controls['value'].touched && getmemberFormGroup(i).controls['value'].hasError('email')">
                    Email is not valid! </span>
                  <span class="text-danger"
                    *ngIf="getmemberFormGroup(i).controls['value'].touched && getmemberFormGroup(i).controls['value'].hasError('pattern')">
                    Phone no. is not valid! </span>
                </div>
                <div class="form-group col-12 text-right">
                  <button class="btn btn-danger" type="button" (click)="removeMember(i)"> Remove </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary m-1" type="button" (click)="addMember()"> Add Contact </button>
        <button class="btn btn-success m-1" [disabled]="!formGroup.valid" type="submit"> Save Profile </button>
      </form>
      <pre>

        {{formGroup.value| json}}
      </pre>
    </div>
  </div>
</div>
